#root {
  width: 100%;
  height: 100%;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  cursor: pointer;
}

h1, h3,
.section {
  text-align: center;
}

.section.map {
  width: 90%;
  height: 500px;
}

.section.chart-countries {
  width: 50%;
  margin-top: 15px;
}

.section.chart-times-of-day {
  width: 50%;
  margin-top: 15px;
}

@media screen and (max-width: 667px) {
  .section.chart-countries {
    width: 100%;
  }

  .section.chart-times-of-day {
    width: 100%;
  }
}
